__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
docs/_build/
*.log
*.pot
*.pyc
local_settings.py
.env
db.sqlite3
.idea/
bin/
include/
pip-selfcheck.json

media/
logs/

static/admin/
static/drf-yasg/
static/rest_framework/

**/celerybeat*
**/*.sql.gz
